@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #020617;
  overflow-x: hidden;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* ANIMAÇÕES */
* {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    transform 0.2s ease;
}